<main class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <%= image_tag "Bottle.png", height: "250px" %>
        <h1 class="display-4 fw-normal"><%= t("confirmation.title") %></h1>
        <p class="fs-5 text-muted pt-4"><%= t("confirmation.header") %></p>
    </div>
</main>
