<main class="text-center container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal"><%= t("faq.title") %></h1>
        <p class="fs-5 text-muted pt-4"><%= t("faq.header") %></p>
    </div>

    <section class="faq-questions">
        <%= md(t("faq.questions")) %>
    </section>

    <a href="./subscribe" class="btn btn-warning btn-xl mt-5"><%= t("subscribe_button") %></a>
</main>
