@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;400;600;700&display=swap");
.highlighted {
  background-color: aliceblue; }

.btn-xl {
  padding: 0.2rem 1rem 0.5rem 1rem;
  font-size: 2rem; }

@media (min-width: 576px) {
  .btn-xl {
    padding: 0.5rem 2rem 1rem 2rem;
    font-size: 3.25rem; } }

.asterisk {
  margin-left: -.6em;
  vertical-align: top; }

/* Colors */
.color-background-1 {
  background-color: #E1DED5; }

.color-background-2 {
  background-color: #BCB7A7; }

.color-background-3 {
  background-color: #9A8C80; }

.color-border-bottom {
  border-bottom: 1px solid #9A8C80 !important; }

.color-border-top {
  border-top: 1px solid #9A8C80 !important; }

/* Fonts */
.font-logo {
  font-family: 'Odibee Sans', cursive; }

.font-hero {
  font-family: 'Glory', sans-serif; }

.font-size-hero {
  font-size: 2em; }

/* Index */
.card-index {
  border: none;
  border-radius: 0; }

/* mailerlite form */
.ml-form-embedWrapper .ml-block-form .ml-field-group label {
  font-family: 'Glory', sans-serif !important;
  font-size: 1.5em !important;
  margin-top: 1em; }

#mlb2-4717853 > div > div > div.ml-form-embedBody.ml-form-embedBodyDefault.row-form > form > div.ml-form-embedSubmit > button.primary {
  font-family: 'Glory', sans-serif !important;
  color: black !important; }

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
  font-family: 'Glory', sans-serif !important; }

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
  font-family: 'Glory', sans-serif !important; }

/* FAQ */
.faq-questions p {
  font-size: 1.25rem; }

.faq-questions h3 {
  background-color: #9A8C80;
  padding: 0.5em 0; }
